:root {
  --color-primary: #387fbf;
  --color-primary-hover: #6099cc;
  --color-primary-dark: #1463aa;
  --color-green: #27ae60;
  --color-main-background: #ecfbff;
  --color-dark-text: #383838;
  --color-gray: #9ea3b7;
  --color-light-gray: #cfd1db;
  --color-ultra-light-gray: #f0f1f4;
  --color-gray-4: #f5f6f8;
  --color-accent: #ff8a00;
  --color-accent-hover: #ffb257;
  --color-dark-blue-text: #212c5b;
  --color-red-error: #d0011b;
  --color-red-focus: #ea242487;
  --color-blue-focus: #a8d9ef;
  --color-pink-error: #e68080;
  --font-family: "Open Sans", Arial, sans-serif;
  --base-transition: 0.3s ease-in-out;
  --elevation-modal: 0 4px 8px rgba(0, 0, 0, 0.2);
  --elevation-1--black: 0 2px 5px rgba(0, 0, 0, 0.1);
  --elevation-1: 0 2px 5px rgba(186, 222, 255, 0.5);
  --elevation-2: 0 10px 10px rgba(186, 222, 255, 0.5);
  --radius: 4px;
  --radius-xs: 3px;
  --radius-md: 5px;
  --radius-lg: 8px;
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --level-modal: 1800;
  --level-side-menu: 1600;
  --level-tooltip: 1400;
  --level-dropdown: 1200;
  --level-notification: 1000;
}

body {
  background-color: var(--color-main-background);
  font-family: Open Sans, Arial, sans-serif;
}

.footer {
  width: 100%;
  position: relative;
}

.chocofamily-logos {
  font-family: Open Sans, Arial, sans-serif;
  background: #fff;
  height: 42px;
  border-bottom: 3px solid #d4f2ff;
  font-size: 14px;
  box-sizing: content-box;
}
#choco-projects {
  height: inherit;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choco-projects__list {
  list-style: none;
  display: flex;
  height: inherit;
}

.choco-projects__item {
  width: 109px;
  text-align: center;
  border-right: 1px solid #ccc;
  position: relative;
}

.choco-projects__link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.choco-projects__title {
  font-size: 10.5px;
  color: #1463aa;
  color: var(--color-primary-dark);
}
.choco-projects__logo {
  height: 22px;
  background-repeat: no-repeat;
  background-position: center 1px;
  transition: 0.3s ease-in-out;
  transition: var(--base-transition);
}

.choco-projects__item:not(.choco-projects__item--tripfor)
  .choco-projects__logo {
  opacity: 0.5;
  filter: grayscale(70%);
}
.choco-projects__item:hover .choco-projects__logo {
  opacity: 1;
  filter: none;
}
.choco-projects__item--chocolife .choco-projects__logo {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/chocoprojects/chocolife.svg);
  background-size: 73px;
  background-position-y: 3px;
}
.choco-projects__item--tripfor .choco-projects__logo {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/chocoprojects/chocotravel.svg);
  background-size: 89px;
}
.choco-projects__item--lensmark .choco-projects__logo {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/chocoprojects/lensmark.svg);
  background-size: 69px;
}
.choco-projects__item--chocofood .choco-projects__logo {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/chocoprojects/chocofood.svg);
  background-size: 89px;
}
.choco-projects__item--idoctor .choco-projects__logo {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/chocoprojects/idoctor.svg);
  background-size: 59px;
  background-position-y: 3px;
}
#choco-projects .login {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #bfbfbf;
  font-family: Open Sans, Arial, sans-serif;
}
#choco-projects .login__link {
  text-decoration: underline;
  padding-right: 5px;
  padding-left: 5px;
  color: #212c5b;
}
#choco-projects .login__button {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  padding: 5px 13px;
  border-radius: 3px;
  background-color: #5590c6;
}
.login__container {
  font-weight: 600;

  font-size: 0.75rem;
}
.login__inner__container {
  position: relative;
  display: flex;
  align-items: center;
}
.log-out__button {
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  padding-inline: 16px;
  background-color: rgb(0, 123, 255);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  line-height: 1.5;
  cursor: pointer;
}
.lang-switcher {
  width: 80px;
  position: absolute;
  right: -100px;
  top: 10px;
  z-index: 1111;
  outline: none;
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.header {
  padding: 18px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 240px;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.menu__main {
  width: 800px;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__main a.selected {
  color: #fe9922;
  border-bottom: 2px solid #fe9922;
}
a {
  color: #212c5b;
}
a:hover {
  text-decoration: none;
}
.menu__main a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
  padding: 0 3px;
  line-height: 29px;
  border-bottom: 2px solid #9ea3b7;
}
.menu__main a img {
  width: 13px;
  flex-shrink: 0;
  padding-right: 10px;
}
.footer {
  width: 100%;
  margin: auto;
  background-color: #387fbf;
  border-top: 4px solid #fe9922;
}
.footer__row {
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding: 20px 20px 0;
}
.footer__row:last-child {
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 20px;
}
.footer__col {
  width: 25%;
  color: #fff;
}
.footer__col.\--icons {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.footer__row a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.footer__row a:hover {
  text-decoration: underline;
}
.footer__row li {
  padding-bottom: 1px;
}
.footer__row .header_footer_list {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.footer_img img {
  display: inline-block;
  margin-top: 10px;
}
.footer__left-link {
  font-size: 13px;
  background: url(https://www.chocotravel.com/media/v3/media/images/sprite-footer_03.png)
    no-repeat;
  padding: 4px 0 0 30px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
}
.footer__left-link.contacts {
  background-position: 0 -20px;
}
.footer__left {
  float: left;
}
.footer__right {
  float: right;
}
.footer__logos li {
  float: right;
  margin: 0 0 0 10px;
}
.footer__menu {
  font-size: 13px;
  border-top: 1px solid #9ea3b7;
  margin-top: 10px;
}
.footer__menu li {
  float: left;
  margin: 0 20px 0 0;
  line-height: 30px;
}
.copyright {
  float: right !important;
  margin: 0 !important;
}
.footer-icons {
  display: flex;
  justify-content: flex-start;
}
.footer-icons__item {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 6px;
}
.footer-icons__item:first-child {
  margin-left: 0;
}
.footer-icons__item:last-child {
  margin-right: 0;
}
.footer-icons__item--visa {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/visa-pay-logo.svg);
  width: 46px;
  height: 16px;
}
.footer-icons__item--master {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/master-card.svg);
  height: 17px;
  width: 28px;
}
.footer-icons__item--union-pay {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/union-pay.svg);
  width: 32px;
}
.footer-icons__item--depositphotos {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/depositphotos.svg);
  width: 105px;
  height: 17px;
}
.footer-icons__item--astana_hub {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/astana-hub.png);
  width: 100px;
  height: 30px;
}
.social {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
  margin-right: 18px;
}
.social:hover {
  opacity: 1;
}
.social--fb {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/social/social__fb.svg);
}
.social--fb:hover {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/social/social__fb--active.svg);
}
.social--inst {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/social/social__inst.svg);
}
.social--inst:hover {
  background-image: url(https://www.chocotravel.com/media/v3/media/images/social/social__inst--active.svg);
}
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.center__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 20px;
}
.center__content p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: block;
  max-width: 630px;
  margin: 0 auto 32px;
}
.mainpage-advantages-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.mainpage-advantage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 38px;
  width: 320px;
  height: 275px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  border-radius: var(--radius-md);
  box-shadow: 0 2px 5px rgb(186 222 255 / 50%);
  box-shadow: var(--elevation-1);
}
.mainpage-advantage__img {
  margin-bottom: 14px;
  display: block;
  width: 60px;
  height: 60px;
}
.mainpage-advantage__heading {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #212c5b;
  margin: 0 0 10px;
}
.mainpage-advantage__text {
  font-size: 15px;
  font-weight: 400;
  color: #9ea3b7;
  text-align: center;
  margin: 0;
}
.chocotravel-video-guide-grid {
  display: flex;
  align-items: flex-start;
}
.chocotravel-video-guide-grid__left {
  display: flex;
  flex-direction: column;
  width: 245px;
  margin-right: 11px;
}
.chocotravel-video-guide-grid__item-mini {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
}
.chocotravel-video-guide-grid-item__num {
  width: 85px;
  height: 135px;
  font-size: 80px;
  font-weight: 600;
  padding-top: 12px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: #67a5d9;
}
.chocotravel-video-guide-grid__desc {
  display: flex;
  flex-direction: column;
  background: #3a83c2;
  width: 160px;
  height: 135px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
.mainpage-video-guide {
  position: relative;
  width: 744px;
  height: 419px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/media/v3/media/images/video.jpg);
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.mainpage-video-guide__overlay {
  position: absolute;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
  overflow: hidden;
  text-overflow: ellipsis;
  color: #eee;
  padding-right: 25px;
}
.mainpage-video-guide__play {
  width: 75px;
  height: 53px;
  z-index: 3;
  background-image: url(https://www.chocotravel.com/media/v3/media/images/youtube_logo--black.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.1s ease-in-out;
}
.chocotravel-video-guide-grid__desc p {
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.mainpage__subscribe-form {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 5px rgb(186 222 255 / 50%);
  box-shadow: var(--elevation-1);
  padding: 15px 16px 15px 64px;
  color: #353535;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 80px;
  border-radius: 5px;
  border-radius: var(--radius-md);
}
.mainpage__subscribe-form-text {
  width: 55%;
  display: flex;
}
.mainpage__subscribe-form-actions {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}
.mainpage__subscribe-form-email {
  margin-right: 15px;
}
.mainpage__subscribe-form-text {
  width: 55%;
  display: flex;
}
.mainpage__subscribe-form-email-input {
  border-radius: 3px;
  border-radius: var(--radius-xs);
  font-size: 14px;
  background: #fff;
  padding: 0 10px;
  height: 40px;
  color: #383838;
  color: var(--color-dark-text);
  width: 240px;
  border: 1px solid #cfd1db;
  border: 1px solid var(--color-light-gray);
  box-sizing: border-box;
}
.mainpage__subscribe-form-button {
  border: none;
  padding: 0 10px;
  width: 136px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  outline: 0;
  background: #ff8a00;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  border-radius: 3px;
  border-radius: var(--radius-xs);
}
.mainpage__subscribe-form-text img {
  margin-right: 54px;
}
.mainpage__subscribe-form-text p {
  margin: 0;
  padding: 0 10px 0 0;
}
.about_us_text {
  clear: both;
  margin-top: 20px;
  padding-top: 10px;
  color: #3b3e4d;
  font-size: 13px;
  text-align: justify;
  border-top: 2px solid #9ea3b7;
}
.install-app-mainpage-container {
  width: 100%;
  display: flex;
  align-items: center;
  background: #6290c1;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 45px;
  margin-bottom: 30px;
  border-radius: 8px;
  color: white;
}
.install-app-mainpage-btn,
.install-app-mainpage-input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  border-radius: 8px;
}
.install-app-mainpage-input {
  flex-grow: 1;
  background-color: #fff;
  padding-left: 8px;
  height: 38px;
}
.install-app-mainpage-btn {
  width: 140px;
  height: 40px;
  background-color: #ff8a00;
  text-align: center;
  color: #fff;
  margin-left: -30px;
  cursor: pointer;
}

.install-app-mainpage-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  padding-top: 20px;
}
h3 {
  font-size: 20px;
  color: #212c5b;
  line-height: 30px;
  font-weight: 400;
}
.visa__images {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.visa__img {
  font-weight: 600;
  color: white;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.visa__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 8px;
  color: white;
  background: var(--color-primary);
  border-radius: 12px;
  margin-top: 30px;
}
.visa__button {
  --bg-opacity: 1;
  background-color: #ff8a00;
  background-color: rgba(255, 138, 0, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #ff8a00;
  border: 1px solid rgba(255, 138, 0, var(--border-opacity));
  font-family: Open Sans, Arial, sans-serif;
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  cursor: pointer;
  padding: 10px 80px;
  border-radius: 12px;
}

.form__item input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #fff;
}
