:root{
    --color-primary: #387fbf;
    --color-primary-hover: #6099cc;
    --color-primary-dark: #1463aa;
    --color-green: #27ae60;
    --color-main-background: #ecfbff;
    --color-dark-text: #383838;
    --color-gray: #9ea3b7;
    --color-light-gray: #cfd1db;
    --color-ultra-light-gray: #f0f1f4;
    --color-gray-4: #f5f6f8;
    --color-accent: #ff8a00;
    --color-accent-hover: #ffb257;
    --color-dark-blue-text: #212c5b;
    --color-red-error: #d0011b;
    --color-red-focus: #ea242487;
    --color-blue-focus: #a8d9ef;
    --color-pink-error: #e68080;
    --font-family: "Open Sans",Arial,sans-serif;
    --base-transition: .3s ease-in-out;
    --elevation-modal: 0 4px 8px rgba(0,0,0,.2);
    --elevation-1--black: 0 2px 5px rgba(0,0,0,.1);
    --elevation-1: 0 2px 5px rgba(186,222,255,.5);
    --elevation-2: 0 10px 10px rgba(186,222,255,.5);
    --radius: 4px;
    --radius-xs: 3px;
    --radius-md: 5px;
    --radius-lg: 8px;
    --overlay-bg-color: rgba(0,0,0,.5);
    --level-modal: 1800;
    --level-side-menu: 1600;
    --level-tooltip: 1400;
    --level-dropdown: 1200;
    --level-notification: 1000;
}

body {
    background: #ecfbff;
    background: var(--color-main-background);
    height: 100%;
    font-family: Open Sans, Arial, sans-serif;
    font-family: var(--font-family);
    font-size: 14px;
    color: #212c5b;
    position: relative;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.chocofamily-logos {
    font-family: Open Sans, Arial, sans-serif;
    background: #fff;
    height: 42px;
    border-bottom: 3px solid #d4f2ff;
    font-size: 14px;
    box-sizing: content-box;
  }

  .choco-projects {
    height: inherit;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .choco-projects__list {
    list-style: none;
    display: flex;
    height: inherit;
  }

  .choco-projects__item {
    width: 109px;
    text-align: center;
    border-right: 1px solid #ccc;
    position: relative;
  }

  .choco-projects__title {
    font-size: 10.5px;
    color: #1463aa;
    color: var(--color-primary-dark);
  }

  .choco-projects__item--picked {
    border-bottom: 3px solid #387fbf;
    border-bottom: 3px solid var(--color-primary);
    border-left: none;
    border-right: none;
  }

  .choco-projects__logo {
    height: 22px;
    background-repeat: no-repeat;
    background-position: center 1px;
    transition: 0.3s ease-in-out;
    transition: var(--base-transition);
  }

  .choco-projects .login {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #bfbfbf;
    font-family: Open Sans, Arial, sans-serif;
  }

  .text-xs {
    font-size: 0.75rem;
  }

  .font-semibold {
    font-weight: 600;
  }

  .flex {
    display: flex;
  }

  .items-center {
    align-items: center;
  }

  a{
    text-decoration: none;
  }