.contacts{
    background-color: #fff;
}

.contact-title{
    text-align: center;
    border-top: 1px solid #9ea3b7;
    border-bottom: 1px solid #9ea3b7;
    padding: 10px 0;
    margin: 0;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
}
.contact-body{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}
.contact-too{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-bold{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.contact-desc {
    margin-bottom: 15px;
}

